				<h2>About</h2>
<p><strong>Quick Bit Notes</strong> is an experiment in an 
alternative to Email for exchanging brief messages in which the 
text of your message is stored in human readable form
as images rather than in machine readable text.  Message contents
are never transferred through Internet mail servers or gateways. </p>
<p>Leave a Quick Bit Note for a friend. That friend (and only that friend) can then log in and 
view the Quick Bit Note. 
<a href="/about/more">Learn more</a></p>
<div style="margin-top: 40px;">
<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
alt="Powered by Google App Engine" />
</div>
