		<div class="content left">

		<h2>Have Something Interesting To Say?</h2>

<p>Quick Bit Notes makes private person to person asynchronous messaging quick and easy.  Simply drop-off a 
Bit Note, invite your friend to pick it up, and start exchanging.</p>

<div style="padding: 40px 0 40px 80px">
<div>
<div style="float: left"><a href="/dropoff"><img src="images/dropoff.png"></a></div>
</div>
<div style="margin-top: 40px;">
<div style="float: left;"><a href="/mybitnotes"><img src="images/pickup.png"></a></div>
</div>
</div>

		</div>
		<div class="bar right">
<#if sidebar??>
<#include "*/" + sidebar>
<#else>
<#include "*/aboutbar.html">
</#if>			
		</div>
